__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
instance/
.cache
.DS_Store
domain.yml
data/
serviceAccountKey.json
crypto_dataset.csv
cleaned_crypto_dataset.csv
endpoints.yml
crypto_data.py
parse_csv.py
remove_special_characters.py